<h1> Particular Customer orders</h1>

<p>
  <strong>ordered item id:</strong>
  <%= @ans %>
</p>



<%= link_to 'Add Orders', new_order_path(@customer) %>
<%= link_to 'view profile', show_registration_path(@customer) %>
