<p>
  <strong>customer id:</strong>
  <%= @order.customer.name %>
</p>
 
<p>
  <strong>items:</strong>
  <%= @order.item.name %>
</p>

<p>quantity :</strong>
  <%= @order.quantity %>
</p>

<%= link_to 'Back', list_order_path(current_customer) %>
